<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <link rel="stylesheet" href="style.css">
</head>
<%- include('./partial/header.ejs') %>
<body style="margin: 0px;background-color: lightgrey;">
    <section style="background-image: url(./img/29730010-line-seamless-pattern-can-be-used-for-website-background-and-greating-cards-or-cover-decoration.jpg);height: 1000px;">
        <h1 style="position: relative;left: 100px;font-style: oblique;font-size: 30px;">Add User</h1>
        <br>
        <form method="POST" action="/users/add" style="left: 100px;position: relative;border: 2px rgb(8, 8, 8);">
            UserName : <br><input type="text" name="username" value=""><br>
            Password : <br><input type="text" name="password" value=""><br>
            <br>
            <input type="submit" name="submit">
        </form>
    </section>
</body>
</html>