<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <a href="/users/add" style="color:antiquewhite">Daftar</a>
    <style>
        body {
          background-image: url('https://i.imgur.com/Fdx8oq6.png');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100%;
        }
        </style> 
    <form action="/users" method="post">
    <label for="username" style="color:beige">Username</label>
    <input type="text" name="username" id="username"><br>
    <label for="password" style="color:beige">Password</label>
    <input type="password" name="password" id="password"><br>
    <input type="submit" value="login">
    </form>


</body>
</html>