<header style="background-color: grey;height: 50px;"><br>
    <a href="/" style="font-size: 20px;color: honeydew;margin-left: 50px;margin-top: 10px;">Home</a>
    <a href="/users" style="font-size: 20px;color: honeydew;margin-left: 50px;">User</a>
    <a href="/profiles" style="font-size: 20px;color: honeydew;margin-left: 50px;">Profile</a>
    <a href="/users/view" style="font-size: 20px;color: honeydew;margin-left: 50px;">View User</a>
    <a href="/users/add" style="font-size: 20px;color: honeydew;margin-left: 50px;">Register User</a>
    <a href="/logout" style="font-size: 20px;color: honeydew;margin-left: 50px;">Logout</a>
</header>